.gallery .image {
  height: 300px;
  width: 100%;
  overflow: hidden;
  margin: 15px 0px;
}
.image img {
  transition: 0.5s;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.image img:hover {
  transform: scale(2);
  cursor: pointer;
}

/* Phones to tablets 767px and below */
@media screen and (max-width: 767px) {
  /* write code here */

  .gallery .image {
    height: 150px;
  }
  .image img {
    height: 150px;
  }
}
