:root {
  --primary-dark: #010014;
  --secondery-dark: #0c7b93;
  --blue: #0c7b93;
  --light-blue: #00a8cc;
  --white: #ffffff;
}

.App {
  background: var(--primary-dark);
  color: var(--white);

  font-family: 'Noto Sans', sans-serif;
  /* font-family: "Bebas Neue", cursive; */
  
}
.page-body {
  min-height: 90vh;
}
.spinner-full{
  min-height: 90vh;
}
