.login-reg {
  min-height: 90vh;
  background-image: url("https://res.cloudinary.com/tusar/image/upload/v1650157222/travel/slider-sunderban_ybd01j.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}


.form-body {
  padding: 50px;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* form  */

label,
input {
  display: block;
  width: 100%;
}
.form-body input {
  background: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 20px;
}
.Log_in {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.social-login {
  border: 1px solid #ffffff;
  padding: 10px 15px;
  border-radius: 100px;
  cursor: pointer;
}
.social-login:hover {
  background: #0b5ed7;
}

@keyframes spinner {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(3600deg);
    }
}